<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="account" value="Cogito" />
		<add key="character" value="Cogito" />
		<add key="password" value="1ChD3Nk34Ls=!" />
		<add key="server" value="chat.f-list.net" />
		<add key="port" value="9722" />
		<add key="botOps" value="Exo;Kalikrates;Hank Thompson;Rubber Bowser;Josef Vasilev;Valorin;Valorin Petrov" />
		<add key="autoJoin" value="Folsom's Leather Bar;Development" />
	</appSettings>
</configuration>
